*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100px;
    background: rgb(170,177,224);
    background: radial-gradient(circle, rgba(170,177,224,1) 11%, rgba(6,1,1,1) 88%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logotop {
    display: flex;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
    font-weight: 900;
    font-size: 28px;
    gap: 20px;
    img{
        width: 80px;
        vertical-align: middle;
        margin-left: 50px;
    }
}
.navbar {
    display: flex;
    li{
        list-style: none;
    
    }
    a{
        text-decoration: none;
        color: aliceblue;
        padding: 20px;
        font-weight: 600;
        font-size: 24px;
        &:hover{
            color: gold;
        }
    }
}
.main-index{
    background: rgb(170,177,224);
    background: radial-gradient(circle, rgba(170,177,224,1) 11%, rgba(6,1,1,1) 88%);
}
.section-principal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: aliceblue;
    height: 100%;
    img{
        width: 400px;
        background-size: cover;
        margin: 60px;
    }
    h1{
        margin-top: 100px;
        font-size: 38px;
        font-weight: 900;
        margin-left: 60px;
        color: rgba(186, 237, 237, 0.729);
    }
    p{
        font-size: 22px;
        text-align: end;
        margin: 50px;
    }
    
    }
    .boton-1{
        padding: 20px 50px;
        margin-left:500px;
        margin-top: 0px;
        background-color: black;
        color: rgba(186, 237, 237, 0.729);
        font-size: 22px;
        font-weight: 900;
        border-color: aqua;
        border-radius: 5px;
        text-decoration: none;
        &:hover{
            color: gold;
        }
    }
    .seccion-productos{
        background: rgb(170,177,224);
        background: radial-gradient(circle, rgba(170,177,224,1) 11%, rgba(6,1,1,1) 88%);
        h2{
            
            color: rgb(224, 236, 236);
            font-size: 32px;
            text-align: center;
        }
    }
    .contenedor-cards
    {
        display: flex;
        width: 100%;
        height: 600px;
        flex-direction: row;
        justify-content: space-evenly;

        img{
            width: 100%;
            padding: 30px;
        }
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;

    }
.card-info{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h3{
        font-size: 30px;
        font-weight: 600;
        color: gold;
    }
    p{
    font-size: 22px;
    }
}
.footer{
    height: 100px;
    display: flex;
    background: rgb(170,177,224);
    background: radial-gradient(circle, rgba(170,177,224,1) 11%, rgba(6,1,1,1) 88%);
    justify-content: space-between;
    align-items: center;
}
.logofooter{
    display: flex;
    align-items: center;
    color: aliceblue;
    gap: 10px;
    font-size: 22px;
    img{
        width: 80px;
        margin-left:20px;
        vertical-align: middle;
    }
}
.social{
    display: flex;
    gap: 20px;
    margin-right: 30px;
    a{
        text-decoration: none;
    }
    img{
        width: 100%;
        height: 40px;
    };
}
