* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between; 
    align-items: center;
    background-color: #fbf8f8d7;
    border-bottom:2px solid black;
}
.logotop{
    display: flex;
    text-decoration: none;
    font-size: 22px;
    gap: 10px;
    font-weight: 900;
    align-items: center;
    color: black;
    &:hover{
        color: rgb(196, 191, 191);
    }
        
    img{
        height: 100px;
        vertical-align: middle;
        border-color: black;
        padding: 10px;
    }
    
}
.navbar{
    display: flex;
    vertical-align: middle;
    gap: 1.25rem;
    margin-right: 50px; 
    li{
        list-style: none};
        a{
            text-decoration: none;
            color: black;
            font-size: 22px;
            &:hover{
                color: rgb(195, 191, 191);
            }
        }
    }

.section-principal{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 100%;
    border-bottom: 2px solid black;
    img{
        height: 600px;
        width: 100;
        margin-right: 100px;
        padding: 30px;
       object-fit: cover;
    }
}
.texto-index{
    
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    h1{
        font-size: 32px;
        font-weight: 1200;
       
        align-self: center;
    }
    p{
        justify-items: center;
        font-size: 1.75rem;
    }
}
.boton-1{
    padding: 30px 50px;
    background-color: #110f0f;
    color: aliceblue;
    font-size: 22px;
    justify-self: flex-end;
    border: 3px solid gold;
    &:hover {
        color: gold;
    }  
}
.seccion-productos{
    display: flex;
    justify-content: center;
    height: 100px;
    border-bottom: 2px solid black;
    h2{
        font-weight: 900;
        font-size: 32px;
        margin-top: 15px;
    }
}
.contenedor-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    background-color: #110f0f;
    border: solid 2px silver;
        img{
            width: 100%;
            height: 200px;
        
        }
}
.card{
    border: solid 3px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    img{
        padding: 10px;
        height: 80%;

    }
    
}
.card-info{
    text-align: center;
    h3{
        font-size: 28px;
        color: rgb(233, 215, 118);
        font-weight: 600;
    }
    p{
        color: aliceblue;
        font-size: 20px;
    }
}

.beneficios-main{
    display: flex;
    justify-content: center;
}
.beneficios-principal{
    div{
        text-align: center;
        
        padding: 10px;
        margin-top: 15px;
        h1{
            font-size: 52px;
            font-weight: 1200;
            justify-self: center;
            gap: 10px;    }
        p{
            font-size: 22px;
            margin-top: 15px;
        }
    }
}
.beneficiosimg {
    display: flex;
    
    height: 500px;
    
    justify-content: space-around;
}
.texto1 {
    border: solid 3px black;
    color: aliceblue;
    position: absolute;
    bottom: 15px;
    h2{
        font-size: 40px;
        font-weight: 1200;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
.nosotros-main{
   display: flex;
   
   flex-direction: column;
   width: 100%;
   height: 600px;
   border: solid 2px black;
    
    img{
        width: 100%;
        height: 350px;
        object-fit: cover;  
    };
}
.nutri1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    h1{
        font-size: 42px;
        color: rgb(11, 68, 117);
        font-weight: 900;
        margin-top: 20px;
        &:hover {
            color: grey;
        }
    }
    p{
        font-size: 32px;
        margin-top: 20px;
    }
}
.nosotros-2{
    background-color: #110f0f;
}
.titulo-ofertas{
    display: flex;
    justify-content: center;
    border: solid 3px black;
}


.galeria-conteiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px;
}
.galeria-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gal-1{
    position: relative;
    h2{
        position: absolute;
        bottom: 0;
        color: rgb(22, 21, 21);
        background: #dac5c5;
    }
}
.gal-1:nth-child(4){
    grid-column-start: span 2;

}
.gal-1:nth-child(1){
    grid-row-start: span 2;

}
.gal-1:nth-child(5){
    grid-column-start: span 3;
}
.banner-sub{
    width: 100%;
    background-color: #fffcfc;
    position: relative;
    padding: 20px 50px 0px 50px;
    img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}   
.titulo-sub{
    position: absolute;
    bottom: 10%;
    left: 80px;
    justify-items: center;
    h1{
        color: aliceblue;
        font-size: 42px;
        &:hover{
            color: rgba(172, 172, 172, 0.941);
        }
    }
    p{
        font-size: 16px;
        font-weight: 300;
        color: aliceblue;
    }
    button{
        padding: 20px;
        margin-left: 150px;
        margin-top: 10px;
        background: rgba(51, 51, 51, 0.5);
        color: rgb(255, 254, 254);
        font-size: 16px;
        border: solid 3px rgb(252, 251, 251);
        font-weight: 600;
        &:hover{
            color: rgb(184, 181, 181);
        }
    }
}
.planes-1{
    text-align: center;
    h2{
        font-size: 32px;
        text-decoration: solid;
    }
}
.contenedor-subs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 100%;
    gap: .9375rem;
}
.gal-2{
    width: 100%;
    flex-direction: row;
    img{
        width: 100%;
        border: solid 2px #110f0f;
    }
    text-align: center;
    button{
        padding: 20px;
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
        border: solid 3px black;
        &:hover{
            color: gray;
        }
    }
}
.sesion-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: url(../assets/imgs/inses-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.inicio-sesion{
    width: 500px;
    background: transparent;
    border: solid 1px rgb(208, 206, 206);
    border-radius: 20px;
    padding: 30px 40px;
    margin: 40px 40px;
    h1{
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        &:hover{
            color: #fffcfc;
        }
    }
}
.inicio-cuadro{
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
    input{
        width: 100%;
        height: 100%;
        font-size: 18px;
        color: rgb(0, 0, 0);
        padding: 20px 45px 20px 20px;
        background: transparent;
        border: none;
        border: solid 2px rgb(171, 170, 170);
        border-radius: 40px;
        outline: none;
            ::placeholder{
                color: #000000;
            }
    } 
}
.olv-pass{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
        label input{
            accent-color: rgb(255, 255, 255);
            margin-right: 3px;
        }
    a{
        color: #110f0f;
        font-weight: 900;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.btn{
    width: 100%;
    height: 45px;
    background: rgb(0, 0, 0);
    color: #fffcfc;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgb(38, 38, 38);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.link-registro{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #ffffff;
    a{
        text-decoration: none;
        font-weight: 900;
        &:hover{
            text-decoration: underline;
        }
    }
}


.footer{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110f0f;
}
.logofooter{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 900;
    gap: 10px;

    img{
        height: 100px;
        padding: 5px;
    }
}
.social{
    display: flex;
    gap: 20px;
    margin-right: 15px;
    a{
        text-decoration: none;
    }
    img{
        height: 60px;
    }
}
