.footer{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110f0f;
}
.logofooter{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 900;
    gap: 10px;

    img{
        height: 100px;
        padding: 5px;
    }
}
.social{
    display: flex;
    gap: 20px;
    margin-right: 15px;
    
    img{
        height: 60px;
    }
}