.footer{
    @include flex;
    height: 150px;
    width: 100%;
    background-color: $colorSecundario;
}
.logofooter{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 900;
    gap: 10px;

    img{
        height: 100px;
        padding: 5px;
    }
}
.social{
    display: flex;
    gap: 20px;
    margin-right: 15px;
    
    img{
        height: 60px;
    }
}