header {
    @include flex;
    width: 100%;
    
    background-color: map-get($colores, color3);
    border-bottom:2px solid black;
}
.logotop{
    display: flex;
    text-decoration: none;
    font-size: map-get($fuente-size, md);
    gap: 10px;
    font-weight: 900;
    align-items: center;
    color: $colorLetras;
    &:hover{
        color: rgb(196, 191, 191);
    }
        
    img{
        height: 100px;
        vertical-align: middle;
        
        padding: 10px;
    } 
}
.navbar{
    display: flex;
    vertical-align: middle;
    gap: 1.875rem;
    margin-right: 50px; 
    li{
        list-style: none};
        a{
            color: $colorLetras;
            font-size: 22px;
            &:hover{
                color: rgb(195, 191, 191);
            }
        }
    }